<!doctype>
<html>
<head>
	<title>{{TITLE}}</title>
</head>
<body>
	<header>
		<ul>
			<li><a href="/">Новости</a></li>
			<li><a href="/contacts.php">Контакты</a></li>
		</ul>
	</header>
	<h4>{{H4}}</h4>
	<div>{{CONTENT}}</div>
</body>
</html>
<div>
	<a href="mailto:jetsaus@gmail.com?subject=С сайта фотогалереи&body=Здравствуйте!">Написать мне</a>
</div>
