<!doctype>
<html>
<head>
	<title>{{TITLE}}</title>
</head>
<body>
	<header>
		<ul>
			<li><a href="/">Новости</a></li>
			<li><a href="/contacts.php">Контакты</a></li>
		</ul>
	</header>
	<h1>{{H1}}</h1>
	<div>{{CONTENT}}</div>
</body>
</html>
